:root {
  --color-primary: #fd4766;
  --color-secondary: #337dff;
  --color-secondary-rgb: rgba(253, 71, 102, 1);
  --color-tertiary: #010001;
  --color-dark: #000000;
  --color-heading: #1f1f25;
  --color-body: #1d1d24;
  --color-gray: rgba(29, 29, 36, 0.75);
  --color-midgray: #e9ecef;
  --color-opacity-1: hsla(0, 0%, 100%, 0.2);
  --color-light: #e4e6ea;
  --color-lighter: #ced0d4;
  --color-lightest: #f0f2f5;
  --color-border: #e6e6e6;
  --color-white: #ffffff;
  --color-success: #3eb75e;
  --color-danger: #ff0003;
  --color-warning: #ff8f3c;
  --color-info: #1ba2db;
  --color-facebook: #3b5997;
  --color-twitter: #1ba1f2;
  --color-youtube: #ed4141;
  --color-linkedin: #0077b5;
  --color-pinterest: #e60022;
  --color-instagram: #c231a1;
  --color-vimeo: #00adef;
  --color-twitch: #6441a3;
  --color-discord: #7289da;
  --color-extra01: #666666;
  --color-extra02: #606770;
  --color-extra03: #fbfbfd;
  --color-extra04: #1a1a1a;
  --color-extra05: #242424;
  --radius: 10px;
  --radius-big: 16px;
  --radius-small: 6px;
  --border-width: 2px;
  --p-light: 300;
  --p-regular: 400;
  --p-medium: 500;
  --p-semi-bold: 600;
  --p-bold: 700;
  --p-extra-bold: 800;
  --p-black: 900;
  --s-light: 300;
  --s-regular: 400;
  --s-medium: 500;
  --s-bold: 700;
  --s-black: 900;
  --shadow-primary: 0px 4px 10px rgba(37, 47, 63, 0.1);
  --shadow-light: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
  --shadow-dark: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  --transition: 0.3s;
  --font-primary: "Poppins", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  --font-awesome: "Font Awesome 5 Pro";
  --font-size-b1: 18px;
  --font-size-b2: 16px;
  --font-size-b3: 14px;
  --font-size-b4: 12px;
  --line-height-b1: 1.67;
  --line-height-b2: 1.5;
  --line-height-b3: 1.6;
  --line-height-b4: 1.3;
  --h1: 44px;
  --h2: 36px;
  --h3: 30px;
  --h4: 24px;
  --h5: 18px;
  --h6: 16px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: var(--font-size-b1);
  line-height: var(--line-height-b1);
  font-family: var(--font-primary);
  color: var(--color-gray);
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Poppins", sans-serif;
  line-height: 1.4074;
  color: #1f1f25;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: 700;
}
h2,
.h2 {
  font-size: var(--h2);
}
h4,
.h4,
h5,
.h5 {
  font-weight: 600;
}
a:hover {
  text-decoration: none;
}
a {
  transition: all 0.4s ease-in-out 0s;
}
.mt--20 {
  margin-top: 20px !important;
}
.mb--30 {
  margin-bottom: 30px !important;
}
.mt--40 {
  margin-top: 40px !important;
}
.mt--60 {
  margin-top: 60px !important;
}
.ptb--70 {
  padding: 70px 0 !important;
}
.ptb--80 {
  padding: 80px 0 !important;
}
.ptb--120 {
  padding: 120px 0 !important;
}
.mt--30 {
  margin-top: 30px !important;
}
.bg__color--1 {
  background: #fff;
}
.bg__color--5 {
  background: #f9f9f9;
}
.bg__color--6 {
  background: #010001;
}
p {
  font-size: var(--font-size-b1);
  line-height: var(--line-height-b1);
  margin-bottom: 30px;
}
p:last-child {
  margin-bottom: 0;
} /* HEADER */
.header__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 999;
}
.header__wrapper {
  padding: 30px 0px;
} /* MENU DESKTOP */
.header__left img {
  max-height: 60px;
}
.header__left .navbar-brand {
  padding: 0;
}
.header__right .nav-item:not(:last-child) {
  margin-right: 30px;
}
.header__right .navbar-toggler:focus,
.header__right .navbar-toggler {
  border: none;
  outline: none;
}

.header__right .navbar-nav .nav-item .nav-link {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 500;
  padding: 20px 0;
  display: inline-block;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.header__right .navbar-nav .nav-item:hover .nav-link {
  color: var(--color-primary);
}
.header__right .header__button {
  margin-left: 50px;
}
.header__right .header__button .btn-default,
button.btn-default,
a.btn-default {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 16px 40px;
  border-radius: 500px;
  display: inline-block;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  background: transparent;
  border: 2px solid var(--color-opacity-1);
}
.header__right .header__button:hover .btn-default {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
}
.header__right .dropdown-toggle::after {
  content: none;
}
.header__right .dropdown-menu {
  display: block;
  visibility: hidden;
  box-shadow: 0 0 35px rgb(0 0 0 / 10%);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin: 0;
  opacity: 0;
}
.header__right .dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
}
.header__right .dropdown-item {
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.header__right .dropdown-item:hover {
  color: var(--color-primary);
  background: rgba(249, 0, 77, 0.07);
} /* MENU PHONE */
.menu__phone {
  z-index: 9999;
  position: fixed;
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.menu__phone__inner {
  width: 320px;
  z-index: 999;
  position: absolute;
  background-color: #fff;
  height: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 0 rgb(149 161 158 / 70%);
  opacity: 0;
  left: -150px;
  transition: all 0.5s ease-out;
}
.menu__phone_main {
  width: 320px;
  z-index: 999;
  position: absolute;
  background-color: #fff;
  height: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 0 rgb(149 161 158 / 70%);
  opacity: 0;
  left: -150px;
  transition: all 0.5s ease-out;
}
.menu__popup__logo {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__popup__logo a {
  transition: all 0.4s ease-in-out 0s;
}
.menu__popup__logo a img {
  max-height: 56px;
}
.menu__phone__close span {
  color: var(--color-body);
  font-size: 30px;
  cursor: pointer;
}
.menu__phone__navbar {
  padding: 5px 20px;
  list-style: none;
}
.menu__phone__navbar a {
  font-size: 16px;
  font-weight: 500;
  color: #1f1f25;
}
.menu__phone__navbar > li:not(:last-child) {
  border-bottom: 1px solid var(--color-border);
}
.menu__phone__navbar > li {
  position: relative;
  margin: 0;
  padding: 12px 0;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.menu__phone__navbar > li:hover > a {
  color: var(--color-primary);
}
.menu__phone__dropdown > a {
  position: relative;
  display: block;
}
.menu__phone__dropdown > a::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: #1f1f25 transparent transparent transparent;
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.menu__phone__submenu {
  display: none;
  padding-left: 20px;
  padding-top: 10px;
  list-style: none;
}
.menu__phone__submenu > li {
  margin: 0;
  padding: 3px 0;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.menu__phone__submenu > li a {
  font-size: 14px;
  padding: 2px 10px;
  color: #1f1f25;
}
.menu__phone__submenu > li:hover > a {
  color: var(--color-primary);
  background: rgba(249, 0, 77, 0.07);
}
.menu__phone.open {
  visibility: visible;
  opacity: 1;
}
.menu__phone.open .menu__phone__inner {
  opacity: 1;
  left: 0;
  overflow-y: auto;
}
.menu__phone__dropdown > a.open {
  color: var(--color-primary);
}
.menu__phone__dropdown > a.open::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 7px 7px;
  border-color: transparent transparent var(--color-primary) transparent;
} /* CAROUSEL */
.slider__background {
  height: 714px;
}
.slider__background .carousel-control-next,
.slider__background .carousel-control-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  opacity: 1;
  transition: opacity 0.15s ease;
  transition: 0.5s;
  background: transparent;
  width: 68px;
  height: 68px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}
.slider__background {
  position: relative;
  z-index: 1;
}
.slider__background .carousel-control-next {
  right: 50px;
}
.slider__background .carousel-control-prev {
  left: 50px;
}
.slider__background .carousel-control-next:hover {
  right: 30px;
}
.slider__background .carousel-control-prev:hover {
  left: 30px;
}
.slider__background .carousel-control-next:hover,
.slider__background .carousel-control-prev:hover {
  background: var(--color-primary);
  border-color: var(--color-primary);
  opacity: 1;
}
.slider__background .carousel-control-prev:hover .carousel-control-prev-icon,
.slider__background .carousel-control-next:hover .carousel-control-next-icon {
  opacity: 1;
}
.slider__background .carousel-control-next-icon,
.slider__background .carousel-control-prev-icon {
  width: 30px;
  height: 100%;
  background-size: contain;
  opacity: 0.5;
}
.slider__background .carousel-control-next-icon {
  background-image: url(../images/slick-arrow-right-small.png);
}
.slider__background .carousel-control-prev-icon {
  background-image: url(../images/slick-arrow-left-small.png);
}
.slider__background .carousel-caption {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 80px 65px 0;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 100%;
  height: min-content;
}
.slider__background .carousel-caption h5 {
  color: #ffffff;
  font-size: clamp(2.25rem, 0.5357rem + 7.619vw, 6.25rem);
  font-weight: 900;
  margin-bottom: 15px;
}
.slider__background .carousel-caption p {
  color: #fff;
  font-size: clamp(0.875rem, 0.6071rem + 1.1905vw, 1.5rem);
  line-height: 40px;
  margin: 0;
  padding: 0 15%;
  font-weight: 300;
}
.slider__background .carousel__button {
  margin-top: 50px;
}
.slider__background .carousel__button .btn-default {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 16px 40px;
  border-radius: 500px;
  display: inline-block;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  background: var(--color-primary);
  border: 2px solid var(--color-opacity-1);
}
.slider__background .carousel__button:hover .btn-default {
  background: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}
.slider__background .carousel-indicators {
  bottom: 60px;
}
.slider__background .carousel-indicators,
.slider__background .carousel-indicators li {
  margin: 0px 0px;
}
.slider__background .carousel-indicators li {
  cursor: pointer;
  width: 6px;
  height: 6px;
  border: 0;
  outline: none;
  border-radius: 100%;
  transition: all 0.3s;
  background-clip: border-box;
  box-shadow: inset 0 0 0 5px #fff;
  margin-left: 0;
}
.slider__background .carousel-indicators li.active {
  transform: scale(2);
  box-shadow: inset 0 0 0 1px var(--color-primary);
  background-color: transparent;
}
.slider__background .carousel__background--1 {
  background-image: url(../images/bg-image-22.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 714px;
}
.slider__background .carousel__background--2 {
  background-image: url(../images/bg-image-23.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 714px;
}
.slider__background .carousel__background--3 {
  background-image: url(../images/bg-image-24.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 714px;
}
.slider__background .carousel__background--4 {
  background-image: url(../images/bg-image-20.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 714px;
}
.slider__background .carousel-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.2;
}
.slider__background .carousel-indicators li:not(:last-child) {
  margin-right: 30px;
} /* SERVICE */
.service__area {
  padding: 120px 0;
}
.service__subtitle {
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 12px;
  background: var(--color-primary);
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    var(--color-primary) 79.69%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--color-primary)', endColorstr='var(--color-secondary)',GradientType=1 );
  display: inline-block;
}
.service__title {
  font-size: 50px;
  font-weight: 600;
  line-height: 62px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  color: #1f1f25;
}
.service__description {
  font-size: 18px;
  line-height: 30px;
  color: var(--color-gray);
}
.service__item {
  padding: 40px 30px;
  transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1),
    box-shadow 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  z-index: 2;
  border-radius: 10px;
  background-color: #f6f6f6;
  margin-top: 30px;
}
.service__icon {
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 23px;
  color: var(--color-primary);
  text-align: center;
  border-radius: 100%;
  display: flex;
  justify-content: left;
}

.service__title {
  margin-bottom: 19px;
  font-weight: 600;
  font-size: 20px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.service__param {
  color: var(--color-gray);
  font-size: var(--font-size-b1);
  line-height: var(--line-height-b1);
}
.service__item:hover {
  box-shadow: 0px 2px 70px 0px rgb(253 71 102 / 5%);
  transform: translateY(-5px);
} /* PORTFOLIO */
.portfolio__background__image {
  background-image: url(../images/bg-image-3.jpg) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.portfolio__subtitle {
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 12px;
  background: var(--color-primary);
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    var(--color-primary) 79.69%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--color-primary)', endColorstr='var(--color-secondary)',GradientType=1 );
  display: inline-block;
}
.portfolio__title {
  font-size: 50px;
  font-weight: 600;
  line-height: 62px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  color: #1f1f25;
}
.portfolio__description {
  font-size: 18px;
  line-height: 30px;
  color: var(--color-gray);
}
.portfolio__item {
  position: relative;
  z-index: 2;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1),
    box-shadow 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}
.portfolio__item::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85%;
  display: block;
  z-index: 1;
  content: "";
  background: linear-gradient(
    to bottom,
    rgba(15, 15, 15, 0),
    rgba(15, 15, 15, 0.75) 100%
  );
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  cursor: pointer;
}
.portfolio__item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85%;
  display: block;
  z-index: 1;
  content: "";
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    var(--color-primary) 100%
  );
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  cursor: pointer;
  opacity: 0;
}
.portfolio__item__thumbnail a {
  display: block;
}
.portfolio__item__thumbnail img {
  transition: transform 1s ease, opacity 0.5s ease 0.25s;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 25px 65px rgb(0 0 0 / 10%);
}
.portfolio__item__content__inner {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 30px 30px;
  z-index: 2;
  width: 100%;
  transform: translateX(-50%);
}
.portfolio__item__content__inner__heading {
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1),
    transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}
.portfolio__item__content__inner__heading__category__list {
  margin: -5px;
  margin-bottom: 5px;
}
.portfolio__item__content__inner__heading__category__list a {
  color: #ffffff;
  opacity: 0.7;
  display: inline-block;
  margin: 5px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.portfolio__item__content__inner__heading__title {
  color: #ffffff;
  font-size: 30px;
}
.portfolio__item__content__inner__heading__title a {
  color: #ffffff;
}
.portfolio__item__content__inner__hover {
  opacity: 0;
  position: absolute;
  bottom: 35px;
  margin-top: 10px;
  transform: translateY(20px);
  line-height: 1.5em;
  max-width: 80%;
  transition: opacity 0.18s cubic-bezier(0.05, 0.2, 0.1, 1),
    transform 0.18s cubic-bezier(0.05, 0.2, 0.1, 1);
  height: 62px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.portfolio__item__content__inner__hover p {
  color: #ffffff;
  opacity: 0.7;
  margin-bottom: 0;
}
.portfolio__item:hover {
  transform: translateY(-10px);
  box-shadow: 0 25px 55px rgb(253 71 102 / 22%);
}
.portfolio__item:hover::before {
  opacity: 0;
}
.portfolio__item:hover::after {
  opacity: 1;
}
.portfolio__item:hover .portfolio__item__content__inner__heading {
  transform: translateY(-62px);
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1),
    transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}
.portfolio__item:hover .portfolio__item__content__inner__hover {
  transform: translateY(0);
  opacity: 1;
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1) 0.15s,
    transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1) 0.15s;
}
.portfolio__button a.btn-default {
  background: var(--color-primary);
  border: 2px solid var(--color-primary);
} /* ABOUT */
.about__thumbnail {
  position: relative;
  z-index: 2;
}
.about__thumbnail img {
  border-radius: 8px;
}
.about__content__subtitle {
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 12px;
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    var(--color-primary) 79.69%
  );
  display: inline-block;
}
.about__content__title {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 35px;
}
.about__content__description {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  color: var(--color-gray);
}
#about .about__tabs ul {
  border: 1px solid var(--color-border);
  border-radius: 50em;
}
#about .about__tabs a {
  cursor: pointer;
  padding: 0.83333em 34px;
  margin: -1px -2px -1px;
  border-radius: 50em;
  font-size: 0.88889em;
  font-weight: 600;
  transition: all 0.45s cubic-bezier(0, 0, 0.2, 1);
  display: inline-block;
  color: var(--color-gray);
  border: 0 none;
  transition: 0.3s;
}
#about .about__tabs a.active {
  background-color: var(--color-primary);
  color: #ffffff;
}
#about .single__tab__content {
  padding-top: 20px;
  margin-top: 10px;
}
#about .single__tab__content p {
  font-weight: 300;
  color: #717173;
  font-size: 18px;
  line-height: 30px;
}
#about .single__tab__content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#about .single__tab__content ul li {
  color: #7e7e7e;
  font-size: 16px;
  line-height: inherit;
  font-weight: 300;
  margin-bottom: 10px;
}

 /* BLOG */
.blog__subtitle {
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 12px;
  background: var(--color-primary);
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    var(--color-primary) 79.69%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--color-primary)', endColorstr='var(--color-secondary)',GradientType=1 );
  display: inline-block;
}
.blog__title {
  font-size: 50px;
  font-weight: 600;
  line-height: 62px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  color: #1f1f25;
}
.blog__description {
  font-size: 18px;
  line-height: 30px;
  color: var(--color-gray);
}
.blog__item {
  position: relative;
  z-index: 2;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1),
    box-shadow 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}
.blog__item::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85%;
  display: block;
  z-index: 1;
  content: "";
  background: linear-gradient(
    to bottom,
    rgba(15, 15, 15, 0),
    rgba(15, 15, 15, 0.75) 100%
  );
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  cursor: pointer;
}
.blog__item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85%;
  display: block;
  z-index: 1;
  content: "";
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    var(--color-primary) 100%
  );
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  cursor: pointer;
  opacity: 0;
}
.blog__item__thumbnail a {
  display: block;
}
.blog__item__thumbnail img {
  transition: transform 1s ease, opacity 0.5s ease 0.25s;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 25px 65px rgb(0 0 0 / 10%);
}
.blog__item__content__inner {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 30px 30px;
  z-index: 2;
  width: 100%;
  transform: translateX(-50%);
}
.blog__item__content__inner__heading {
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1),
    transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}
.blog__item__content__inner__heading__category__list {
  margin: -5px;
  margin-bottom: 5px;
}
.blog__item__content__inner__heading__category__list a {
  color: #ffffff;
  opacity: 0.7;
  display: inline-block;
  margin: 5px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.blog__item__content__inner__heading__title {
  color: #ffffff;
  font-size: 30px;
}
.blog__item__content__inner__heading__title a {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.blog__item:hover {
  transform: translateY(-10px);
  box-shadow: 0 25px 55px rgb(253 71 102 / 22%);
}
.blog__item:hover::before {
  opacity: 0;
}
.blog__item:hover::after {
  opacity: 1;
}
.blog__item:hover .blog__item__content__inner__heading {
  transform: translateY(-62px);
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1),
    transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}

.blog__button a.btn-default {
  background: var(--color-primary);
  border: 2px solid var(--color-primary);
} /* CLIENTS */
.clients__subtitle {
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 12px;
  background: var(--color-primary);
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    var(--color-primary) 79.69%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--color-primary)', endColorstr='var(--color-secondary)',GradientType=1 );
  display: inline-block;
}
.clients__title {
  font-size: 50px;
  font-weight: 600;
  line-height: 62px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  color: #1f1f25;
}
.clients__description {
  font-size: 18px;
  line-height: 30px;
  color: var(--color-gray);
}
ul.clients__brand__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 0;
  margin: 0;
  list-style: none;
}
ul.clients__brand__list li {
  flex-basis: calc(100% / 3);
  text-align: center;
  height: 214px;
  line-height: 214px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
ul.clients__brand__list li img {
  opacity: 0.8;
  transition: 0.3s;
  max-height: 110px;
  max-width: 150px;
}
ul.clients__brand__list li:hover {
  background-color: var(--color-primary);
  transform: scale(1.1);
  border-radius: 6px;
}
ul.clients__brand__list li:hover img {
  opacity: 1;
} 
 /* SCROLL TOP */
.rn-progress-parent.rn-backto-top-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.rn-progress-parent {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px var(--color-gray);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: all 200ms linear;
}
.rn-progress-parent::before {
  position: absolute;
  font-family: "feather" !important;
  content: "\e914";
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  opacity: 0;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 2;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.rn-progress-parent::after {
  position: absolute;
  font-family: "feather" !important;
  content: "\e914";
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  color: var(--color-primary);
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 1;
  transition: all 200ms linear;
}

@media (mwidth: 1200px) {
  .container {
    max-width: 1260px;
  }
}
@media (max-width: 998px) {
  .header__right .header__button .btn-default {
    font-size: 14px;
    letter-spacing: 0;
    padding: 10px 27px;
  }
}
@media (max-width: 767px) {
  .header__content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header__right .header__button .btn-default {
    font-size: 14px;
    letter-spacing: 0;
    padding: 7px 16px;
  }
  .header__right .header__button {
    margin-left: 20px;
  }
  .slider__background .carousel-caption {
    padding: 0px;
  }
  .img-fluid {
    width: 120px;
  }
  #about .about__tabs ul {
    border-radius: inherit;
    border: 0 none;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 14px;
  }
  #about .about__tabs ul li a {
    padding: 0.83333em 20px;
  }
  .ptb--120,
  .ptb--80 {
    padding: 80px 0 !important;
  }

  ul.clients__brand__list {
    border-left: 0 none;
    border-bottom: 0 none;
  }
  ul.clients__brand__list li {
    border-top: 0 none;
    border-right: 0 none;
    height: auto;
    line-height: 10;
  }
  ul.clients__brand__list li img {
    max-width: 100px;
    height: auto;
  }
  .mt_sm--20 {
    margin-top: 20px !important;
  }
}
@media (max-width: 564px) {
  .header__content {
    padding-left: 5px;
    padding-right: 5px;
  }
  .header__right .header__button {
    margin-left: 0px;
  }
  .img-fluid {
    width: 100px;
  }
}
